<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>Habcdefghijklmnoprstuvyz&#xE7;&#xF6;&#xFC;&#x11F;&#x131;&#x15F;</string>
	<key>bcp47</key>
	<string>tr-TR</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Turkish</string>
	<key>identifier</key>
	<string>turkish</string>
</dict>
</plist>
