<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>abdefghijklmnoprstuvxy&#xE1;&#xE6;&#xE9;&#xED;&#xF0;&#xF3;&#xF6;&#xFA;&#xFD;&#xFE;</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Icelandic</string>
	<key>identifier</key>
	<string>icelandic</string>
</dict>
</plist>
