<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>en</string>
	<key>displayName</key>
	<string>English</string>
	<key>script</key>
	<string>Latn</string>
	<key>direction</key>
	<string>ltr</string>
	<key>defaultLayout</key>
	<string>qwerty-us</string>
	<key>alphabet</key>
	<string>abcdefghijklmnopqrstuvwxyz</string>
</dict>
</plist>
