<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>$%()-/23:&gt;ABCDFIMNOPSTUV_abcdefghijklmnopqrstuvwxy</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>GDScript 2</string>
	<key>identifier</key>
	<string>code_gdscript_2</string>
	<key>kind</key>
	<string>code</string>
</dict>
</plist>
