<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>source</key>
	<string>GNU Typist</string>
	<key>sourceCommit</key>
	<string>bda1c9dca77ebea6294f72d7ed09abe30a62a09f</string>
	<key>courses</key>
	<array>
		<dict>
			<key>file</key>
			<string>q.typ</string>
			<key>title</key>
			<string>Quick QWERTY course</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>r.typ</string>
			<key>title</key>
			<string>Long QWERTY course</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>t.typ</string>
			<key>title</key>
			<string>QWERTY touch typing</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>v.typ</string>
			<key>title</key>
			<string>Yet another QWERTY course</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>u.typ</string>
			<key>title</key>
			<string>QWERTY review</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>review</string>
		</dict>
		<dict>
			<key>file</key>
			<string>m.typ</string>
			<key>title</key>
			<string>Typing drills</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>drills</string>
		</dict>
		<dict>
			<key>file</key>
			<string>s.typ</string>
			<key>title</key>
			<string>Speed drills</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>drills</string>
		</dict>
		<dict>
			<key>file</key>
			<string>n.typ</string>
			<key>title</key>
			<string>Calculator keypad</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>none</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>p.typ</string>
			<key>title</key>
			<string>Special characters for programmers</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>d.typ</string>
			<key>title</key>
			<string>Dvorak touch typing</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>dvorak</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>c.typ</string>
			<key>title</key>
			<string>Colemak touch typing</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>colemak</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>kten.typ</string>
			<key>title</key>
			<string>English (KTouch, generated)</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktdvorak.typ</string>
			<key>title</key>
			<string>Dvorak (KTouch, generated)</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>dvorak</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktdvorak_abcd.typ</string>
			<key>title</key>
			<string>Dvorak, ABCD (KTouch)</string>
			<key>language</key>
			<string>english</string>
			<key>layout</key>
			<string>dvorak</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>cs.typ</string>
			<key>title</key>
			<string>Czech lessons</string>
			<key>language</key>
			<string>czech</string>
			<key>layout</key>
			<string>none</string>
			<key>kind</key>
			<string>course</string>
			<key>upstreamWarnings</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>esp.typ</string>
			<key>title</key>
			<string>Spanish QWERTY course</string>
			<key>language</key>
			<string>spanish</string>
			<key>layout</key>
			<string>spanish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktes.typ</string>
			<key>title</key>
			<string>Spanish (KTouch, generated)</string>
			<key>language</key>
			<string>spanish</string>
			<key>layout</key>
			<string>spanish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktdvorak_es.typ</string>
			<key>title</key>
			<string>Dvorak Espa&#xF1;ol (KTouch)</string>
			<key>language</key>
			<string>spanish</string>
			<key>layout</key>
			<string>spanish_dvorak</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktes_cat.typ</string>
			<key>title</key>
			<string>Catalan (KTouch, generated)</string>
			<key>language</key>
			<string>catalan</string>
			<key>layout</key>
			<string>spanish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ru.typ</string>
			<key>title</key>
			<string>Russian lessons</string>
			<key>language</key>
			<string>russian</string>
			<key>layout</key>
			<string>russian</string>
			<key>kind</key>
			<string>course</string>
			<key>upstreamWarnings</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>ktru.typ</string>
			<key>title</key>
			<string>&#x420;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;, &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x451;&#x43D;&#x43D;&#x44B;&#x439; (KTouch)</string>
			<key>language</key>
			<string>russian</string>
			<key>layout</key>
			<string>russian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktru_long.typ</string>
			<key>title</key>
			<string>Russian (KTouch, generated)</string>
			<key>language</key>
			<string>russian</string>
			<key>layout</key>
			<string>russian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktru_slava.typ</string>
			<key>title</key>
			<string>Russian, full hand-made course (KTouch)</string>
			<key>language</key>
			<string>russian</string>
			<key>layout</key>
			<string>russian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktbg.typ</string>
			<key>title</key>
			<string>Bulgarian (KTouch, generated)</string>
			<key>language</key>
			<string>bulgarian</string>
			<key>layout</key>
			<string>bulgarian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktbg_long.typ</string>
			<key>title</key>
			<string>Bulgarian, long (KTouch, generated)</string>
			<key>language</key>
			<string>bulgarian</string>
			<key>layout</key>
			<string>bulgarian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktde.typ</string>
			<key>title</key>
			<string>Deutsch, Kurs in 9 Teilen (KTouch)</string>
			<key>language</key>
			<string>german</string>
			<key>layout</key>
			<string>qwertz</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktde2.typ</string>
			<key>title</key>
			<string>Deutsch (KTouch, generated)</string>
			<key>language</key>
			<string>german</string>
			<key>layout</key>
			<string>qwertz</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktde_neo.typ</string>
			<key>title</key>
			<string>Deutsch, NEO layout (KTouch)</string>
			<key>language</key>
			<string>german</string>
			<key>layout</key>
			<string>neo</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktde_number.typ</string>
			<key>title</key>
			<string>Deutsch, Ziffernblock (KTouch)</string>
			<key>language</key>
			<string>german</string>
			<key>layout</key>
			<string>none</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ttde.typ</string>
			<key>title</key>
			<string>Deutsch (TippTrainer)</string>
			<key>language</key>
			<string>german</string>
			<key>layout</key>
			<string>qwertz</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktdk.typ</string>
			<key>title</key>
			<string>Danish, complete course (KTouch)</string>
			<key>language</key>
			<string>danish</string>
			<key>layout</key>
			<string>danish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktdk2.typ</string>
			<key>title</key>
			<string>Danish (KTouch, generated)</string>
			<key>language</key>
			<string>danish</string>
			<key>layout</key>
			<string>danish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktfi.typ</string>
			<key>title</key>
			<string>Finnish (KTouch, generated)</string>
			<key>language</key>
			<string>finnish</string>
			<key>layout</key>
			<string>swedish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktfi_kids.typ</string>
			<key>title</key>
			<string>Finnish for kids (KTouch)</string>
			<key>language</key>
			<string>finnish</string>
			<key>layout</key>
			<string>swedish_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktfr.typ</string>
			<key>title</key>
			<string>French (KTouch, generated)</string>
			<key>language</key>
			<string>french</string>
			<key>layout</key>
			<string>azerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktfr2.typ</string>
			<key>title</key>
			<string>French 2 (KTouch, generated)</string>
			<key>language</key>
			<string>french</string>
			<key>layout</key>
			<string>azerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>kthu.typ</string>
			<key>title</key>
			<string>Magyar g&#xE9;p&#xED;r&#xF3;tanfolyam (KTouch)</string>
			<key>language</key>
			<string>hungarian</string>
			<key>layout</key>
			<string>hungarian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>kthu_expert.typ</string>
			<key>title</key>
			<string>Hungarian, expert (KTouch, generated)</string>
			<key>language</key>
			<string>hungarian</string>
			<key>layout</key>
			<string>hungarian</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktit.typ</string>
			<key>title</key>
			<string>Italian (KTouch, generated)</string>
			<key>language</key>
			<string>italian</string>
			<key>layout</key>
			<string>italian_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktnl.typ</string>
			<key>title</key>
			<string>Nederlands (KTouch, generated)</string>
			<key>language</key>
			<string>dutch</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktnl_junior.typ</string>
			<key>title</key>
			<string>Nederlands Junior (KTouch)</string>
			<key>language</key>
			<string>dutch</string>
			<key>layout</key>
			<string>qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktno.typ</string>
			<key>title</key>
			<string>Norwegian (KTouch, generated)</string>
			<key>language</key>
			<string>norwegian_bokmal</string>
			<key>layout</key>
			<string>norwegian_qwerty</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktpl.typ</string>
			<key>title</key>
			<string>Polish (KTouch, from TTCoach)</string>
			<key>language</key>
			<string>polish</string>
			<key>layout</key>
			<string>polish_programmers</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ktsi.typ</string>
			<key>title</key>
			<string>Slovenian (KTouch)</string>
			<key>language</key>
			<string>slovenian</string>
			<key>layout</key>
			<string>none</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>kttr.typ</string>
			<key>title</key>
			<string>Turkish (KTouch, generated)</string>
			<key>language</key>
			<string>turkish</string>
			<key>layout</key>
			<string>turkish_q</string>
			<key>kind</key>
			<string>course</string>
		</dict>
		<dict>
			<key>file</key>
			<string>ro_special.typ</string>
			<key>title</key>
			<string>Romanian special characters</string>
			<key>language</key>
			<string>romanian</string>
			<key>layout</key>
			<string>none</string>
			<key>kind</key>
			<string>course</string>
		</dict>
	</array>
</dict>
</plist>
