<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vscodeCommit</key>
	<string>d3c24c3c4d7efab36b37acb1e91d9502c0c35b28</string>
	<key>languages</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>c</string>
			<key>displayName</key>
			<string>C</string>
			<key>scopeName</key>
			<string>source.c</string>
			<key>grammar</key>
			<string>c.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>c</string>
				<string>h</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>c/valkey--adlist.c</string>
					<key>title</key>
					<string>valkey &#x2014; adlist.c</string>
					<key>repository</key>
					<string>https://github.com/valkey-io/valkey</string>
					<key>path</key>
					<string>src/adlist.c</string>
					<key>commit</key>
					<string>11387e50c67ab22dce61f093be6c4af8087a189f</string>
					<key>licence</key>
					<string>BSD-3-Clause</string>
					<key>lines</key>
					<integer>420</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>c/lua--lstring.c</string>
					<key>title</key>
					<string>lua &#x2014; lstring.c</string>
					<key>repository</key>
					<string>https://github.com/lua/lua</string>
					<key>path</key>
					<string>lstring.c</string>
					<key>commit</key>
					<string>0b29f408433e92953cc72b1d3e06c7ac8139e439</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>353</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>objective-c</string>
			<key>displayName</key>
			<string>Objective-C</string>
			<key>scopeName</key>
			<string>source.objc</string>
			<key>grammar</key>
			<string>objective-c.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>m</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>objective-c/AFNetworking--AFNetworkReachabilityManager.m</string>
					<key>title</key>
					<string>AFNetworking &#x2014; AFNetworkReachabilityManager.m</string>
					<key>repository</key>
					<string>https://github.com/AFNetworking/AFNetworking</string>
					<key>path</key>
					<string>AFNetworking/AFNetworkReachabilityManager.m</string>
					<key>commit</key>
					<string>d9f589cc2c1fe9d55eb5eea00558010afea7a41e</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>269</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>objective-c/Mantle--MTLValueTransformer.m</string>
					<key>title</key>
					<string>Mantle &#x2014; MTLValueTransformer.m</string>
					<key>repository</key>
					<string>https://github.com/Mantle/Mantle</string>
					<key>path</key>
					<string>Mantle/MTLValueTransformer.m</string>
					<key>commit</key>
					<string>2a8e2123a3931038179ee06105c9e6ec336b12ea</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>150</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>objective-c/SDWebImage--SDImageCacheConfig.m</string>
					<key>title</key>
					<string>SDWebImage &#x2014; SDImageCacheConfig.m</string>
					<key>repository</key>
					<string>https://github.com/SDWebImage/SDWebImage</string>
					<key>path</key>
					<string>SDWebImage/Core/SDImageCacheConfig.m</string>
					<key>commit</key>
					<string>c3ad5e1a9bf55c9b76d4c362430b5fcded96c502</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>72</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>csharp</string>
			<key>displayName</key>
			<string>C#</string>
			<key>scopeName</key>
			<string>source.cs</string>
			<key>grammar</key>
			<string>csharp.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>cs</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>csharp/runtime--Queue.cs</string>
					<key>title</key>
					<string>runtime &#x2014; Queue.cs</string>
					<key>repository</key>
					<string>https://github.com/dotnet/runtime</string>
					<key>path</key>
					<string>src/libraries/System.Private.CoreLib/src/System/Collections/Generic/Queue.cs</string>
					<key>commit</key>
					<string>7adc767a7bb3c41986db17f10a6369800501a624</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>498</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>csharp/Newtonsoft.Json--StringUtils.cs</string>
					<key>title</key>
					<string>Newtonsoft.Json &#x2014; StringUtils.cs</string>
					<key>repository</key>
					<string>https://github.com/JamesNK/Newtonsoft.Json</string>
					<key>path</key>
					<string>Src/Newtonsoft.Json/Utilities/StringUtils.cs</string>
					<key>commit</key>
					<string>09bb545d72969ad7fb4ea07db0d5c34f4fc07877</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>371</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>python</string>
			<key>displayName</key>
			<string>Python</string>
			<key>scopeName</key>
			<string>source.python</string>
			<key>grammar</key>
			<string>MagicPython.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>py</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>python/cpython--bisect.py</string>
					<key>title</key>
					<string>cpython &#x2014; bisect.py</string>
					<key>repository</key>
					<string>https://github.com/python/cpython</string>
					<key>path</key>
					<string>Lib/bisect.py</string>
					<key>commit</key>
					<string>3229a4e725c8c800b64f0fdf0e3c3943d79afd29</string>
					<key>licence</key>
					<string>PSF-2.0</string>
					<key>lines</key>
					<integer>118</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>python/cpython--heapq.py</string>
					<key>title</key>
					<string>cpython &#x2014; heapq.py</string>
					<key>repository</key>
					<string>https://github.com/python/cpython</string>
					<key>path</key>
					<string>Lib/heapq.py</string>
					<key>commit</key>
					<string>3229a4e725c8c800b64f0fdf0e3c3943d79afd29</string>
					<key>licence</key>
					<string>PSF-2.0</string>
					<key>lines</key>
					<integer>611</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>python/requests--structures.py</string>
					<key>title</key>
					<string>requests &#x2014; structures.py</string>
					<key>repository</key>
					<string>https://github.com/psf/requests</string>
					<key>path</key>
					<string>src/requests/structures.py</string>
					<key>commit</key>
					<string>dae7ef63b4df6eded86637f251fc4e3a06c3b479</string>
					<key>licence</key>
					<string>Apache-2.0</string>
					<key>lines</key>
					<integer>130</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>javascript</string>
			<key>displayName</key>
			<string>JavaScript</string>
			<key>scopeName</key>
			<string>source.js</string>
			<key>grammar</key>
			<string>JavaScript.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>js</string>
				<string>mjs</string>
				<string>cjs</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>javascript/express--utils.js</string>
					<key>title</key>
					<string>express &#x2014; utils.js</string>
					<key>repository</key>
					<string>https://github.com/expressjs/express</string>
					<key>path</key>
					<string>lib/utils.js</string>
					<key>commit</key>
					<string>9a34acf03cb818ff3f8bc40e44176e277a25cbb9</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>271</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>javascript/underscore--debounce.js</string>
					<key>title</key>
					<string>underscore &#x2014; debounce.js</string>
					<key>repository</key>
					<string>https://github.com/jashkenas/underscore</string>
					<key>path</key>
					<string>modules/debounce.js</string>
					<key>commit</key>
					<string>9239e2999aa32d7c70efcb930e27fb4c0d977246</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>40</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>typescript</string>
			<key>displayName</key>
			<string>TypeScript</string>
			<key>scopeName</key>
			<string>source.ts</string>
			<key>grammar</key>
			<string>TypeScript.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>ts</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>typescript/vscode-textmate--matcher.ts</string>
					<key>title</key>
					<string>vscode-textmate &#x2014; matcher.ts</string>
					<key>repository</key>
					<string>https://github.com/microsoft/vscode-textmate</string>
					<key>path</key>
					<string>src/matcher.ts</string>
					<key>commit</key>
					<string>fbe49961ab8077e587fdf5282019655ae69e5f9e</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>106</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>typescript/vscode-textmate--utils.ts</string>
					<key>title</key>
					<string>vscode-textmate &#x2014; utils.ts</string>
					<key>repository</key>
					<string>https://github.com/microsoft/vscode-textmate</string>
					<key>path</key>
					<string>src/utils.ts</string>
					<key>commit</key>
					<string>fbe49961ab8077e587fdf5282019655ae69e5f9e</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>205</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>go</string>
			<key>displayName</key>
			<string>Go</string>
			<key>scopeName</key>
			<string>source.go</string>
			<key>grammar</key>
			<string>go.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>go</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>go/go--list.go</string>
					<key>title</key>
					<string>go &#x2014; list.go</string>
					<key>repository</key>
					<string>https://github.com/golang/go</string>
					<key>path</key>
					<string>src/container/list/list.go</string>
					<key>commit</key>
					<string>46f508b3aa365918ac78a63340ce2343306835af</string>
					<key>licence</key>
					<string>BSD-3-Clause</string>
					<key>lines</key>
					<integer>235</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>go/go--builder.go</string>
					<key>title</key>
					<string>go &#x2014; builder.go</string>
					<key>repository</key>
					<string>https://github.com/golang/go</string>
					<key>path</key>
					<string>src/strings/builder.go</string>
					<key>commit</key>
					<string>46f508b3aa365918ac78a63340ce2343306835af</string>
					<key>licence</key>
					<string>BSD-3-Clause</string>
					<key>lines</key>
					<integer>116</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>go/cobra--args.go</string>
					<key>title</key>
					<string>cobra &#x2014; args.go</string>
					<key>repository</key>
					<string>https://github.com/spf13/cobra</string>
					<key>path</key>
					<string>args.go</string>
					<key>commit</key>
					<string>adbc8813901bba65827259daa8e22ff94ec1f30e</string>
					<key>licence</key>
					<string>Apache-2.0</string>
					<key>lines</key>
					<integer>144</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>rust</string>
			<key>displayName</key>
			<string>Rust</string>
			<key>scopeName</key>
			<string>source.rust</string>
			<key>grammar</key>
			<string>rust.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>rs</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>rust/rust--bool.rs</string>
					<key>title</key>
					<string>rust &#x2014; bool.rs</string>
					<key>repository</key>
					<string>https://github.com/rust-lang/rust</string>
					<key>path</key>
					<string>library/core/src/bool.rs</string>
					<key>commit</key>
					<string>36b04f3ad12a98b1a3cf9efe5313306ef7d5848d</string>
					<key>licence</key>
					<string>MIT OR Apache-2.0</string>
					<key>lines</key>
					<integer>160</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>rust/ripgrep--interpolate.rs</string>
					<key>title</key>
					<string>ripgrep &#x2014; interpolate.rs</string>
					<key>repository</key>
					<string>https://github.com/BurntSushi/ripgrep</string>
					<key>path</key>
					<string>crates/matcher/src/interpolate.rs</string>
					<key>commit</key>
					<string>3fce3b5bb0236da2df6d99672afb8a719642eca7</string>
					<key>licence</key>
					<string>MIT OR Unlicense</string>
					<key>lines</key>
					<integer>331</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>sql</string>
			<key>displayName</key>
			<string>SQL</string>
			<key>scopeName</key>
			<string>source.sql</string>
			<key>grammar</key>
			<string>sql.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>sql</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>sql/sakila--sqlite-sakila-schema.sql</string>
					<key>title</key>
					<string>sakila &#x2014; sqlite-sakila-schema.sql</string>
					<key>repository</key>
					<string>https://github.com/jOOQ/sakila</string>
					<key>path</key>
					<string>sqlite-sakila-db/sqlite-sakila-schema.sql</string>
					<key>commit</key>
					<string>e089a5b1ec9af0df7a9c6a5d47d49fa1736a4e84</string>
					<key>licence</key>
					<string>BSD-2-Clause</string>
					<key>lines</key>
					<integer>645</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>shell</string>
			<key>displayName</key>
			<string>Shell</string>
			<key>scopeName</key>
			<string>source.shell</string>
			<key>grammar</key>
			<string>shell-unix-bash.tmLanguage.json</string>
			<key>extensions</key>
			<array>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
			</array>
			<key>files</key>
			<array>
				<dict>
					<key>file</key>
					<string>shell/rbenv--rbenv-init</string>
					<key>title</key>
					<string>rbenv &#x2014; rbenv-init</string>
					<key>repository</key>
					<string>https://github.com/rbenv/rbenv</string>
					<key>path</key>
					<string>libexec/rbenv-init</string>
					<key>commit</key>
					<string>07e9b1e297a5977298c6aadc9971ae0e9eb7f0dc</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>222</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>shell/ohmyzsh--upgrade.sh</string>
					<key>title</key>
					<string>ohmyzsh &#x2014; upgrade.sh</string>
					<key>repository</key>
					<string>https://github.com/ohmyzsh/ohmyzsh</string>
					<key>path</key>
					<string>tools/upgrade.sh</string>
					<key>commit</key>
					<string>157eb033f2a527021aac18c1f5850bbe3e3d223c</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>344</integer>
				</dict>
				<dict>
					<key>file</key>
					<string>shell/nvm--install.sh</string>
					<key>title</key>
					<string>nvm &#x2014; install.sh</string>
					<key>repository</key>
					<string>https://github.com/nvm-sh/nvm</string>
					<key>path</key>
					<string>install.sh</string>
					<key>commit</key>
					<string>a4f801ed72d71b945a5c0e1b28a40eab581e7e94</string>
					<key>licence</key>
					<string>MIT</string>
					<key>lines</key>
					<integer>533</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
