<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>abcdefghilmnoprstuv&#xE1;&#xE9;&#xED;&#xF3;&#xFA;</string>
	<key>bcp47</key>
	<string>ga-IE</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Irish</string>
	<key>identifier</key>
	<string>irish</string>
</dict>
</plist>
