<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>-abcdefghijklmnoprstuvxz&#xE4;&#xF5;&#xF6;&#xFC;&#x17E;</string>
	<key>bcp47</key>
	<string>et-EE</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Estonian</string>
	<key>identifier</key>
	<string>estonian</string>
</dict>
</plist>
