<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>abcdefghijklmnopqrstuvwxyz&#xE1;&#xE4;&#xE6;&#xE9;&#xF8;&#xFA;&#xFD;&#xFE;&#x171;</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Esperanto H Sistemo</string>
	<key>identifier</key>
	<string>esperanto_h_sistemo</string>
</dict>
</plist>
