<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>azerty</string>
	<key>geometry</key>
	<string>iso</string>
	<key>identifier</key>
	<string>azerty</string>
	<key>rows</key>
	<array>
		<array>
			<string>`</string>
			<string>&amp;1</string>
			<string>&#xE9;2~</string>
			<string>"3#</string>
			<string>'4{</string>
			<string>(5[</string>
			<string>-6|</string>
			<string>&#xE8;7`</string>
			<string>_8\</string>
			<string>&#xE7;9</string>
			<string>&#xE0;0@</string>
			<string>)&#xB0;]</string>
			<string>=+}</string>
		</array>
		<array>
			<string>aA</string>
			<string>zZ</string>
			<string>eE</string>
			<string>rR</string>
			<string>tT</string>
			<string>yY</string>
			<string>uU</string>
			<string>iI</string>
			<string>oO</string>
			<string>pP</string>
			<string>^&#xA8;</string>
			<string>$&#xA3;&#xA4;</string>
		</array>
		<array>
			<string>qQ</string>
			<string>sS</string>
			<string>dD</string>
			<string>fF</string>
			<string>gG</string>
			<string>hH</string>
			<string>jJ</string>
			<string>kK</string>
			<string>lL</string>
			<string>mM</string>
			<string>&#xF9;%</string>
			<string>*&#xB5;</string>
		</array>
		<array>
			<string>&lt;&gt;</string>
			<string>wW</string>
			<string>xX</string>
			<string>cC</string>
			<string>vV</string>
			<string>bB</string>
			<string>nN</string>
			<string>,?</string>
			<string>;.</string>
			<string>:/</string>
			<string>!&#xA7;</string>
		</array>
	</array>
</dict>
</plist>
