<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>bepo</string>
	<key>geometry</key>
	<string>iso</string>
	<key>identifier</key>
	<string>bepo</string>
	<key>rows</key>
	<array>
		<array>
			<string>$#&#x2013;&#xB6;</string>
			<string>"1&#x2014;&#x201E;</string>
			<string>&#xAB;2&lt;&#x201C;</string>
			<string>&#xBB;3&gt;&#x201D;</string>
			<string>(4[&#x2A7D;</string>
			<string>)5]&#x2A7E;</string>
			<string>@6^</string>
			<string>+7&#xB1;&#xAC;</string>
			<string>-8&#x2212;&#xBC;</string>
			<string>/9&#xF7;&#xBD;</string>
			<string>*0&#xD7;&#xBE;</string>
			<string>=&#xB0;&#x2260;</string>
			<string>%`&#x2033;&#x2033;</string>
		</array>
		<array>
			<string>bB|&#xA6;</string>
			<string>&#xE9;&#xC9;&#xF3;&#x151;</string>
			<string>pP&amp;&#xA7;</string>
			<string>oO&#x153;&#x152;</string>
			<string>&#xE8;&#xC8;&#xF2;`</string>
			<string>&#xF4;!&#xA1;</string>
			<string>vV&#x1D2;</string>
			<string>dD&#xF0;&#xD0;</string>
			<string>lL&#xF8;</string>
			<string>jJ&#x133;&#x132;</string>
			<string>zZ&#x259;&#x18F;</string>
			<string>wW&#x14F;</string>
		</array>
		<array>
			<string>aA&#xE6;&#xC6;</string>
			<string>uU&#xF9;&#xD9;</string>
			<string>iI&#xF6;&#x22F;</string>
			<string>eE&#x20AC;&#xA4;</string>
			<string>,;&#x2019;&#x1EB;</string>
			<string>cC&#xA9;&#x17F;</string>
			<string>tT&#xFE;&#xDE;</string>
			<string>sS&#xDF;&#x1E9E;</string>
			<string>rR&#xAE;&#x2122;</string>
			<string>nN&#xF5;</string>
			<string>mM&#x14D;&#xBA;</string>
			<string>&#xE7;&#xC7;&#xB8;,</string>
		</array>
		<array>
			<string>&#xEA;&#xCA;/</string>
			<string>&#xE0;&#xC0;\</string>
			<string>yY{&#x2018;</string>
			<string>xX}&#x2019;</string>
			<string>.:&#x2026;&#xB7;</string>
			<string>kK~</string>
			<string>'?&#xBF;&#x1ECF;</string>
			<string>qQo&#x30A;</string>
			<string>gG&#x3A9;</string>
			<string>hH&#x2020;&#x2021;</string>
			<string>fF&#x1EB;&#xAA;</string>
		</array>
	</array>
</dict>
</plist>
