<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>burmese</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>burmese</string>
	<key>rows</key>
	<array>
		<array>
			<string>&#x1050;&#x100E;</string>
			<string>&#x1041;&#x100D;</string>
			<string>&#x1042;&#x1052;</string>
			<string>&#x1043;&#x100B;</string>
			<string>&#x1044;&#x1053;</string>
			<string>&#x1045;&#x1054;</string>
			<string>&#x1046;&#x1055;</string>
			<string>&#x1047;&#x101B;</string>
			<string>&#x1048;*</string>
			<string>&#x1049;(</string>
			<string>&#x1040;)</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#x1006;&#x1008;</string>
			<string>&#x1010;&#x101D;</string>
			<string>&#x1014;&#x1023;</string>
			<string>&#x1019;&#x104E;</string>
			<string>&#x1021;&#x1024;</string>
			<string>&#x1015;&#x104C;</string>
			<string>&#x1000;&#x1025;</string>
			<string>&#x1004;&#x104D;</string>
			<string>&#x101E;&#x103F;</string>
			<string>&#x1005;&#x100F;</string>
			<string>&#x101F;&#x1027;</string>
			<string>&#x1029;&#x102A;</string>
			<string>\|</string>
		</array>
		<array>
			<string>&#x1031;&#x1017;</string>
			<string>&#x103B;&#x103E;</string>
			<string>&#x102D;&#x102E;</string>
			<string>&#x103A;&#x1039;</string>
			<string>&#x102B;&#x103D;</string>
			<string>&#x1037;&#x1036;</string>
			<string>&#x103C;&#x1032;</string>
			<string>&#x102F;&#x1012;</string>
			<string>&#x1030;&#x1013;</string>
			<string>&#x1038;&#x1002;</string>
			<string>'"</string>
		</array>
		<array>
			<string>&#x1016;&#x1007;</string>
			<string>&#x1011;&#x100C;</string>
			<string>&#x1001;&#x1003;</string>
			<string>&#x101C;&#x1020;</string>
			<string>&#x1018;&#x101A;</string>
			<string>&#x100A;&#x1009;</string>
			<string>&#x102C;&#x1026;</string>
			<string>,&#x104A;</string>
			<string>.&#x104B;</string>
			<string>/?</string>
		</array>
	</array>
</dict>
</plist>
