<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>engram</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>engram</string>
	<key>rows</key>
	<array>
		<array>
			<string>[{</string>
			<string>1|</string>
			<string>2=</string>
			<string>3~</string>
			<string>4+</string>
			<string>5&lt;</string>
			<string>6&gt;</string>
			<string>7^</string>
			<string>8&amp;</string>
			<string>9%</string>
			<string>0*</string>
			<string>]}</string>
			<string>/\</string>
		</array>
		<array>
			<string>bB</string>
			<string>yY</string>
			<string>oO</string>
			<string>uU</string>
			<string>'(</string>
			<string>")</string>
			<string>lL</string>
			<string>dD</string>
			<string>wW</string>
			<string>vV</string>
			<string>zZ</string>
			<string>#$</string>
			<string>@`</string>
		</array>
		<array>
			<string>cC</string>
			<string>iI</string>
			<string>eE</string>
			<string>aA</string>
			<string>,;</string>
			<string>.:</string>
			<string>hH</string>
			<string>tT</string>
			<string>sS</string>
			<string>nN</string>
			<string>qQ</string>
		</array>
		<array>
			<string>gG</string>
			<string>xX</string>
			<string>jJ</string>
			<string>kK</string>
			<string>-_</string>
			<string>?!</string>
			<string>rR</string>
			<string>mM</string>
			<string>fF</string>
			<string>pP</string>
		</array>
	</array>
</dict>
</plist>
