<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>ergopti</string>
	<key>geometry</key>
	<string>iso</string>
	<key>identifier</key>
	<string>ergopti</string>
	<key>rows</key>
	<array>
		<array>
			<string>=+}</string>
			<string>1111</string>
			<string>2222</string>
			<string>3333</string>
			<string>4444</string>
			<string>5555</string>
			<string>6666</string>
			<string>7777</string>
			<string>8888</string>
			<string>9999</string>
			<string>0&#xBA;&#xB0;&#xAA;</string>
			<string>&#x20AC;&#x20AC;&#xA3;&#xA4;</string>
			<string>%%&#x2030;&#x2031;</string>
		</array>
		<array>
			<string>&#xE8;&#xC8;`&#x201E;</string>
			<string>yY@</string>
			<string>oO&#x153;&#x152;</string>
			<string>wW&#xF9;&#xD9;</string>
			<string>bB&#xAB;&#x201C;</string>
			<string>fF&#xBB;&#x201D;</string>
			<string>gG~&#x2248;</string>
			<string>hH#%</string>
			<string>cC</string>
			<string>xX*&#xD7;</string>
			<string>zZ</string>
			<string>&#xE7;&#xC7;</string>
		</array>
		<array>
			<string>aA&lt;&#x2A7D;</string>
			<string>iI&gt;&#x2A7E;</string>
			<string>eE{&#x1D49;</string>
			<string>uU}</string>
			<string>.::&#xB7;</string>
			<string>vV|&#xA6;</string>
			<string>sS(&#x2014;</string>
			<string>nN)&#x2013;</string>
			<string>tT[</string>
			<string>rR[</string>
			<string>qQ&#x2019;</string>
			<string>^!!&#xA1;</string>
		</array>
		<array>
			<string>&#xEA;&#xCA;</string>
			<string>&#xE9;&#xC9;/&#xF7;</string>
			<string>&#xE0;&#xC0;\&#x1D62;</string>
			<string>jJ"</string>
			<string>,;;</string>
			<string>kK&#x2026;</string>
			<string>mM&amp;&#x2212;</string>
			<string>dD$&#xA7;</string>
			<string>lL=&#x2260;</string>
			<string>pP+&#xB1;</string>
			<string>'??&#xBF;</string>
		</array>
	</array>
</dict>
</plist>
