<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>GralmakS</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>GralmakS</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~~&#x2248;</string>
			<string>1!&#x323;&#xA1;</string>
			<string>2@&#x309;&#xB2;</string>
			<string>3#&#x31B;&#xB3;</string>
			<string>4$&#xA4;&#xA3;</string>
			<string>5%&#xB5;&#x2030;</string>
			<string>6^^&#x2202;</string>
			<string>7&amp;&#x2C7;&#xAC;</string>
			<string>8*&#x2DB;&#x221E;</string>
			<string>9(&#x2D8;&#xB7;</string>
			<string>0)&#xB0;&#xB0;</string>
			<string>[{&#xE5;&#xC5;</string>
			<string>]}&#xE6;&#xC6;</string>
		</array>
		<array>
			<string>bB&#x2022;&#x2191;</string>
			<string>lL&#x142;&#x141;</string>
			<string>dD&#xF0;&#xD0;</string>
			<string>wW&#x2018;&#x201C;</string>
			<string>qQ&#x201A;&#x201E;</string>
			<string>jJ&#x283;&#x1A9;</string>
			<string>fF&#x2019;&#x201D;</string>
			<string>oO&#x2039;&#xAB;</string>
			<string>uU&#x203A;&#xBB;</string>
			<string>'"&#xB4;&#x2032;</string>
			<string>-_&#xAF;&#xB1;</string>
			<string>=+&#x2DD;&#x2260;</string>
			<string>\|`&#xA6;</string>
		</array>
		<array>
			<string>nN&#x2013;&#x2191;</string>
			<string>rR&#xAE;&#x2122;</string>
			<string>tT&#xFE;&#xDE;</string>
			<string>sS&#xDF;&#xA7;</string>
			<string>gG&#x14B;&#x14A;</string>
			<string>yY&#xBA;&#xAA;</string>
			<string>hH&#x127;&#x126;</string>
			<string>aA&#x111;&#x3B1;</string>
			<string>eE&#x20AC;&#x2190;</string>
			<string>iI&#x2014;&#x2192;</string>
			<string>;:&#xA8;&#x2026;</string>
		</array>
		<array>
			<string>zZ&#x292;&#x1B7;</string>
			<string>xX&#x2020;&#x2021;</string>
			<string>mM&#xD7;&#x2193;</string>
			<string>cC&#xA9;&#xA2;</string>
			<string>vV&#xF7;&#x3B3;</string>
			<string>kK&#xE7;&#xC7;</string>
			<string>pP&#x3C0;&#xB6;</string>
			<string>.&gt;&#x2D9;&#x2265;</string>
			<string>/?/&#xBF;</string>
			<string>,&lt;&#xB8;&#x2264;</string>
		</array>
	</array>
</dict>
</plist>
