<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>handsdown neu inverted</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>handsdown_neu_inverted</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8?</string>
			<string>9&lt;</string>
			<string>0&gt;</string>
			<string>=_</string>
			<string>\|</string>
		</array>
		<array>
			<string>xX</string>
			<string>cC</string>
			<string>lL</string>
			<string>dD</string>
			<string>gG</string>
			<string>-+</string>
			<string>uU</string>
			<string>oO</string>
			<string>yY</string>
			<string>kK</string>
			<string>zZ</string>
			<string>({</string>
			<string>)}</string>
		</array>
		<array>
			<string>rR</string>
			<string>sS</string>
			<string>nN</string>
			<string>tT</string>
			<string>bB</string>
			<string>,;</string>
			<string>aA</string>
			<string>eE</string>
			<string>iI</string>
			<string>hH</string>
			<string>jJ</string>
		</array>
		<array>
			<string>wW</string>
			<string>fF</string>
			<string>mM</string>
			<string>pP</string>
			<string>vV</string>
			<string>/*</string>
			<string>.:</string>
			<string>qQ</string>
			<string>"[</string>
			<string>']</string>
		</array>
	</array>
</dict>
</plist>
