<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>hebrew</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>hebrew</string>
	<key>rows</key>
	<array>
		<array>
			<string>~;</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9)</string>
			<string>0(</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>/Q</string>
			<string>'W</string>
			<string>&#x5E7;E</string>
			<string>&#x5E8;R</string>
			<string>&#x5D0;T</string>
			<string>&#x5D8;Y</string>
			<string>&#x5D5;U</string>
			<string>&#x5DF;I</string>
			<string>&#x5DD;O</string>
			<string>&#x5E4;P</string>
			<string>]}</string>
			<string>[{</string>
			<string>\|</string>
		</array>
		<array>
			<string>&#x5E9;A</string>
			<string>&#x5D3;S</string>
			<string>&#x5D2;D</string>
			<string>&#x5DB;F</string>
			<string>&#x5E2;G</string>
			<string>&#x5D9;H</string>
			<string>&#x5D7;J</string>
			<string>&#x5DC;K</string>
			<string>&#x5DA;L</string>
			<string>&#x5E3;:</string>
			<string>,"</string>
		</array>
		<array>
			<string>&#x5D6;Z</string>
			<string>&#x5E1;X</string>
			<string>&#x5D1;C</string>
			<string>&#x5D4;V</string>
			<string>&#x5E0;B</string>
			<string>&#x5DE;N</string>
			<string>&#x5E6;M</string>
			<string>&#x5EA;&gt;</string>
			<string>&#x5E5;&lt;</string>
			<string>.?</string>
		</array>
	</array>
</dict>
</plist>
