<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>hungarian</string>
	<key>geometry</key>
	<string>iso</string>
	<key>identifier</key>
	<string>hungarian</string>
	<key>rows</key>
	<array>
		<array>
			<string>0&#xA7;</string>
			<string>1'</string>
			<string>2"</string>
			<string>3+</string>
			<string>4!</string>
			<string>5%</string>
			<string>6/</string>
			<string>7=</string>
			<string>8(</string>
			<string>9)</string>
			<string>&#xF6;&#xD6;</string>
			<string>&#xFC;&#xDC;</string>
			<string>&#xF3;&#xD3;</string>
		</array>
		<array>
			<string>qQ</string>
			<string>wW</string>
			<string>eE</string>
			<string>rR</string>
			<string>tT</string>
			<string>zZ</string>
			<string>uU</string>
			<string>iI</string>
			<string>oO</string>
			<string>pP</string>
			<string>&#x151;&#x150;</string>
			<string>&#xFA;&#xDA;</string>
		</array>
		<array>
			<string>aA</string>
			<string>sS</string>
			<string>dD</string>
			<string>fF</string>
			<string>gG</string>
			<string>hH</string>
			<string>jJ</string>
			<string>kK</string>
			<string>lL</string>
			<string>&#xE9;&#xC9;</string>
			<string>&#xE1;&#xC1;</string>
			<string>&#x171;&#x170;</string>
		</array>
		<array>
			<string>&#xED;&#xCD;</string>
			<string>yY</string>
			<string>xX</string>
			<string>cC</string>
			<string>vV</string>
			<string>bB</string>
			<string>nN</string>
			<string>mM</string>
			<string>,?</string>
			<string>.:</string>
			<string>-_</string>
		</array>
	</array>
</dict>
</plist>
