<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>korean</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>korean</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#x3142;&#x3143;</string>
			<string>&#x3148;&#x3149;</string>
			<string>&#x3137;&#x3138;</string>
			<string>&#x3131;&#x3132;</string>
			<string>&#x3145;&#x3146;</string>
			<string>&#x315B;&#x315B;</string>
			<string>&#x3155;&#x3155;</string>
			<string>&#x3151;&#x3151;</string>
			<string>&#x3150;&#x3152;</string>
			<string>&#x3154;&#x3156;</string>
			<string>[{</string>
			<string>]}</string>
			<string>\|</string>
		</array>
		<array>
			<string>&#x3141;&#x3141;</string>
			<string>&#x3134;&#x3134;</string>
			<string>&#x3147;&#x3147;</string>
			<string>&#x3139;&#x3139;</string>
			<string>&#x314E;&#x314E;</string>
			<string>&#x3157;&#x3157;</string>
			<string>&#x3153;&#x3153;</string>
			<string>&#x314F;&#x314F;</string>
			<string>&#x3163;&#x3163;</string>
			<string>;:</string>
			<string>'"</string>
		</array>
		<array>
			<string>&#x314B;&#x314B;</string>
			<string>&#x314C;&#x314C;</string>
			<string>&#x314A;&#x314A;</string>
			<string>&#x314D;&#x314D;</string>
			<string>&#x3160;&#x3160;</string>
			<string>&#x315C;&#x315C;</string>
			<string>&#x3161;&#x3161;</string>
			<string>,&lt;</string>
			<string>.&gt;</string>
			<string>/?</string>
		</array>
	</array>
</dict>
</plist>
