<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>macedonian</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>macedonian</string>
	<key>rows</key>
	<array>
		<array>
			<string>&#x45D;&#x40D;</string>
			<string>1!</string>
			<string>2&#x201E;</string>
			<string>3&#x201C;</string>
			<string>4'</string>
			<string>5%</string>
			<string>6&#x201A;</string>
			<string>7&#x2018;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>--</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#x459;&#x409;</string>
			<string>&#x45A;&#x40A;</string>
			<string>&#x435;&#x415;</string>
			<string>&#x440;&#x420;</string>
			<string>&#x442;&#x422;</string>
			<string>&#x455;&#x405;</string>
			<string>&#x443;&#x423;</string>
			<string>&#x438;&#x418;</string>
			<string>&#x43E;&#x41E;</string>
			<string>&#x43F;&#x41F;</string>
			<string>&#x448;&#x428;</string>
			<string>&#x453;&#x403;</string>
			<string>&#x436;&#x416;</string>
		</array>
		<array>
			<string>&#x430;&#x410;</string>
			<string>&#x441;&#x421;</string>
			<string>&#x434;&#x414;</string>
			<string>&#x444;&#x424;</string>
			<string>&#x433;&#x413;</string>
			<string>&#x445;&#x425;</string>
			<string>&#x458;&#x408;</string>
			<string>&#x43A;&#x41A;</string>
			<string>&#x43B;&#x41B;</string>
			<string>&#x447;&#x427;</string>
			<string>&#x45C;&#x40C;</string>
		</array>
		<array>
			<string>&#x437;&#x417;</string>
			<string>&#x45F;&#x40F;</string>
			<string>&#x446;&#x426;</string>
			<string>&#x432;&#x412;</string>
			<string>&#x431;&#x411;</string>
			<string>&#x43D;&#x41D;</string>
			<string>&#x43C;&#x41C;</string>
			<string>,;</string>
			<string>.:</string>
			<string>/?</string>
		</array>
	</array>
</dict>
</plist>
