<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>optimot</string>
	<key>geometry</key>
	<string>iso</string>
	<key>identifier</key>
	<string>optimot</string>
	<key>rows</key>
	<array>
		<array>
			<string>$&#x20AC;&#xA3;&#xA9;</string>
			<string>&#xAB;1&#x201C;&#xBC;</string>
			<string>&#xBB;2&#x201D;&#xBD;</string>
			<string>"3&#x201E;&#xBE;</string>
			<string>-4&#x2011;&#x2153;</string>
			<string>+5&#xB1;&#x2154;</string>
			<string>*6&#xD7;</string>
			<string>/7\&#xF7;</string>
			<string>=8&#x2260;&#x2248;</string>
			<string>(9[&#x2032;</string>
			<string>)0]&#x2033;</string>
			<string>@_&#x2212;&#x2012;</string>
			<string>#%&#xB0;&#xBA;</string>
		</array>
		<array>
			<string>&#xE0;&#xC0;&lt;&#x2A7D;</string>
			<string>jJ&gt;&#x2A7E;</string>
			<string>oO&#x153;&#x152;</string>
			<string>&#xE9;&#xC9;&#xF3;&#x416;</string>
			<string>bB&#x2014;</string>
			<string>fF&#x2018;</string>
			<string>dD{&#x2020;</string>
			<string>lL}&#x2021;</string>
			<string>'?&#x2019;&#xBF;</string>
			<string>qQ&#xE5;&#x2E2E;</string>
			<string>xX|&#xAE;</string>
			<string>zZ&#x279C;&#x2122;</string>
		</array>
		<array>
			<string>aA&#xE6;&#xC6;</string>
			<string>iI&#x1D62;&#xA7;</string>
			<string>eE&#x1D49;&#xB6;</string>
			<string>uU&#xF9;&#xD9;</string>
			<string>,;&#x2013;</string>
			<string>pP`</string>
			<string>tT&amp;</string>
			<string>sS&#x221E;</string>
			<string>rR&#x2113;</string>
			<string>nN&#xF5;</string>
			<string>&#xF4;!&#xF6;&#xA1;</string>
			<string>&#xE7;&#xC7;&#x1A1;</string>
		</array>
		<array>
			<string>kK&#xF8;</string>
			<string>yY&#x22F;</string>
			<string>&#xE8;&#xC8;&#xF2;</string>
			<string>.:&#x2026;&#xB7;</string>
			<string>wW</string>
			<string>&#x232B;&#x232B;&#x232B;&#x232B;</string>
			<string>gG&#x3A9;</string>
			<string>cC&#x1EB;</string>
			<string>mM&#x14D;</string>
			<string>hH&#x14F;</string>
			<string>vV&#x1D2;</string>
		</array>
	</array>
</dict>
</plist>
