<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>pashto</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>pashto</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#x636;</string>
			<string>&#x635;</string>
			<string>&#x62B;</string>
			<string>&#x642;</string>
			<string>&#x641;</string>
			<string>&#x63A;</string>
			<string>&#x639;</string>
			<string>&#x647;</string>
			<string>&#x62E;&#x681;</string>
			<string>&#x62D;&#x685;</string>
			<string>&#x62C;</string>
			<string>&#x686;</string>
			<string>"</string>
		</array>
		<array>
			<string>&#x634;&#x69A;</string>
			<string>&#x633;&#x6CD;</string>
			<string>&#x6CC;&#x64A;</string>
			<string>&#x628;&#x67E;</string>
			<string>&#x644;</string>
			<string>&#x627;&#x622;</string>
			<string>&#x62A;&#x67C;</string>
			<string>&#x646;&#x6BC;</string>
			<string>&#x645;</string>
			<string>&#x6A9;</string>
			<string>&#x6AB;</string>
		</array>
		<array>
			<string>&#x638;&#x626;</string>
			<string>&#x637;&#x6D0;</string>
			<string>&#x632;&#x698;</string>
			<string>&#x631;</string>
			<string>&#x630;</string>
			<string>&#x62F;&#x689;</string>
			<string>&#x693;</string>
			<string>&#x648;&#x60C;</string>
			<string>&#x696;.</string>
			<string>/&#x61F;</string>
		</array>
	</array>
</dict>
</plist>
