<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>quartz</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>quartz</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>=+</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
		</array>
		<array>
			<string>qQ</string>
			<string>uU</string>
			<string>aA</string>
			<string>rR</string>
			<string>tT</string>
			<string>zZ</string>
			<string>/?</string>
			<string>gG</string>
			<string>lL</string>
			<string>yY</string>
			<string>pP</string>
			<string>hH</string>
			<string>\|</string>
		</array>
		<array>
			<string>[{</string>
			<string>jJ</string>
			<string>oO</string>
			<string>bB</string>
			<string>]}</string>
			<string>;:</string>
			<string>vV</string>
			<string>eE</string>
			<string>xX</string>
			<string>'"</string>
			<string>dD</string>
		</array>
		<array>
			<string>cC</string>
			<string>wW</string>
			<string>mM</string>
			<string>,&lt;</string>
			<string>fF</string>
			<string>iI</string>
			<string>nN</string>
			<string>kK</string>
			<string>sS</string>
			<string>.&gt;</string>
		</array>
	</array>
</dict>
</plist>
