<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>rulemak</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>rulemak</string>
	<key>rows</key>
	<array>
		<array>
			<string>&#x451;&#x401;</string>
			<string>1!</string>
			<string>2"</string>
			<string>3&#x2116;#&#xB3;</string>
			<string>4;$&#xA3;</string>
			<string>5%&#x20AC;%</string>
			<string>6:</string>
			<string>7?&amp;</string>
			<string>8*&#x20BD;&#x20B4;</string>
			<string>9([{</string>
			<string>0)]}</string>
			<string>-_&#x2013;&#x2014;</string>
			<string>=+&#xD7;&#xF7;</string>
		</array>
		<array>
			<string>&#x44F;&#x42F;&#x463;&#x462;</string>
			<string>&#x436;&#x416;&#x475;&#x474;</string>
			<string>&#x444;&#x424;&#x473;&#x472;</string>
			<string>&#x43F;&#x41F;&#x43F;&#x41F;</string>
			<string>&#x433;&#x413;&#x491;&#x490;</string>
			<string>&#x439;&#x419;&#x458;&#x408;</string>
			<string>&#x43B;&#x41B;&#x459;&#x409;</string>
			<string>&#x443;&#x423;&#x45E;&#x40E;</string>
			<string>&#x44B;&#x42B;&#x457;&#x407;</string>
			<string>&#x44E;&#x42E;;:</string>
			<string>&#x448;&#x428;&#xAB;&#x201E;</string>
			<string>&#x449;&#x429;&#xBB;&#x201C;</string>
			<string>&#x44D;&#x42D;&#x2019;&#x201D;</string>
		</array>
		<array>
			<string>&#x430;&#x410;'&#x2BC;</string>
			<string>&#x440;&#x420;&#xAE;</string>
			<string>&#x441;&#x421;@</string>
			<string>&#x442;&#x422;&#x45B;&#x40B;</string>
			<string>&#x434;&#x414;&#x452;&#x402;</string>
			<string>&#x447;&#x427;&#x45F;&#x40F;</string>
			<string>&#x43D;&#x41D;&#x45A;&#x40A;</string>
			<string>&#x435;&#x415;&#x454;&#x404;</string>
			<string>&#x438;&#x418;&#x456;&#x406;</string>
			<string>&#x43E;&#x41E;&#x43E;&#x41E;</string>
			<string>&#x44C;&#x42C;&#x44A;&#x42A;</string>
		</array>
		<array>
			<string>&#x437;&#x417;&#x455;&#x405;</string>
			<string>&#x445;&#x425;&#x445;&#x425;</string>
			<string>&#x446;&#x426;&#xA9;</string>
			<string>&#x432;&#x412;&#x432;&#x412;</string>
			<string>&#x431;&#x411;&#x453;&#x403;</string>
			<string>&#x43A;&#x41A;&#x45C;&#x40C;</string>
			<string>&#x43C;&#x41C;&#x43C;&#x41C;</string>
			<string>,;&lt;</string>
			<string>.:&gt;</string>
			<string>/?\|</string>
		</array>
	</array>
</dict>
</plist>
