<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>tamil99</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>tamil99</string>
	<key>rows</key>
	<array>
		<array>
			<string>`~</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#xB86;&#xBB8;</string>
			<string>&#xB88;&#xBB7;</string>
			<string>&#xB8A;&#xB9C;</string>
			<string>&#xB90;&#xBB9;</string>
			<string>&#xB8F;</string>
			<string>&#xBB3;</string>
			<string>&#xBB1;&#xBB6;</string>
			<string>&#xBA9;:</string>
			<string>&#xB9F;[</string>
			<string>&#xBA3;]</string>
			<string>&#xB9A;{</string>
			<string>&#xB9E;}</string>
			<string>\|</string>
		</array>
		<array>
			<string>&#xB85;&#xBF9;</string>
			<string>&#xB87;&#xBFA;</string>
			<string>&#xB89;&#xBF8;</string>
			<string>&#xBCD;&#xB83;</string>
			<string>&#xB8E;&#xB8E;</string>
			<string>&#xB95;&#xB95;</string>
			<string>&#xBAA;&#xBAA;</string>
			<string>&#xBAE;"</string>
			<string>&#xBA4;&#xBF1;</string>
			<string>&#xBA8;;</string>
			<string>&#xBAF;'</string>
		</array>
		<array>
			<string>&#xB94;&#xBF3;</string>
			<string>&#xB93;&#xBF4;</string>
			<string>&#xB92;&#xBF5;</string>
			<string>&#xBB5;&#xBF6;</string>
			<string>&#xB99;&#xBF7;</string>
			<string>&#xBB2;&#xBD0;</string>
			<string>&#xBB0;/</string>
			<string>,&lt;</string>
			<string>.&gt;</string>
			<string>&#xBB4;?</string>
		</array>
	</array>
</dict>
</plist>
