<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>UGJRMV</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>UGJRMV</string>
	<key>rows</key>
	<array>
		<array>
			<string>??</string>
			<string>1!</string>
			<string>2&#xAB;</string>
			<string>3&#xBB;</string>
			<string>4$</string>
			<string>5%</string>
			<string>6/</string>
			<string>7&amp;</string>
			<string>8&#xD7;</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
			<string>fF</string>
		</array>
		<array>
			<string>&#x16B;&#x16A;</string>
			<string>gG</string>
			<string>jJ</string>
			<string>rR</string>
			<string>mM</string>
			<string>vV</string>
			<string>nN</string>
			<string>zZ</string>
			<string>&#x113;&#x112;</string>
			<string>&#x10D;&#x10C;</string>
			<string>&#x17E;&#x17D;</string>
			<string>hH</string>
			<string>&#x137;&#x136;</string>
		</array>
		<array>
			<string>&#x161;&#x160;</string>
			<string>uU</string>
			<string>sS</string>
			<string>iI</string>
			<string>lL</string>
			<string>dD</string>
			<string>aA</string>
			<string>tT</string>
			<string>eE</string>
			<string>cC</string>
			<string>'&#xB0;</string>
		</array>
		<array>
			<string>&#x146;&#x145;</string>
			<string>bB</string>
			<string>&#x12B;&#x12A;</string>
			<string>kK</string>
			<string>pP</string>
			<string>oO</string>
			<string>&#x101;&#x100;</string>
			<string>,;</string>
			<string>.:</string>
			<string>&#x13C;&#x13B;</string>
		</array>
	</array>
</dict>
</plist>
