<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>urdu phonetic</string>
	<key>geometry</key>
	<string>ansi</string>
	<key>identifier</key>
	<string>urdu_phonetic</string>
	<key>rows</key>
	<array>
		<array>
			<string>&#x64B;</string>
			<string>1!</string>
			<string>2@</string>
			<string>3#</string>
			<string>4$</string>
			<string>5%</string>
			<string>6^</string>
			<string>7&amp;</string>
			<string>8*</string>
			<string>9(</string>
			<string>0)</string>
			<string>-_</string>
			<string>=+</string>
		</array>
		<array>
			<string>&#x642;</string>
			<string>&#x648;</string>
			<string>&#x639;</string>
			<string>&#x631;</string>
			<string>&#x62A;</string>
			<string>&#x6CC;</string>
			<string>&#x621;</string>
			<string>&#x626;</string>
			<string>&#x6C1;</string>
			<string>&#x67E;</string>
			<string>[{</string>
			<string>]}</string>
			<string>\|</string>
		</array>
		<array>
			<string>&#x627;</string>
			<string>&#x633;</string>
			<string>&#x62F;</string>
			<string>&#x641;</string>
			<string>&#x6AF;</string>
			<string>&#x6BE;</string>
			<string>&#x62C;</string>
			<string>&#x6A9;</string>
			<string>&#x644;</string>
			<string>&#x61B;</string>
			<string>'"</string>
		</array>
		<array>
			<string>&#x632;</string>
			<string>&#x634;</string>
			<string>&#x686;</string>
			<string>&#x688;</string>
			<string>&#x628;</string>
			<string>&#x646;</string>
			<string>&#x645;</string>
			<string>&#x60C;</string>
			<string>&#x6D4;</string>
			<string>/?</string>
		</array>
	</array>
</dict>
</plist>
