<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>abcdefghiklmnopqrstuvxy&#xE0;&#xE1;&#xE2;&#xE3;&#xE8;&#xE9;&#xEA;&#xEC;&#xED;&#xF2;&#xF3;&#xF4;&#xF5;&#xF9;&#xFA;&#xFD;&#x103;&#x111;&#x129;&#x169;&#x1A1;&#x1B0;&#x1EA1;&#x1EA3;&#x1EA5;&#x1EA7;&#x1EA9;&#x1EAB;&#x1EAD;&#x1EAF;&#x1EB1;&#x1EB3;&#x1EB5;&#x1EB7;&#x1EB9;&#x1EBB;&#x1EBD;&#x1EBF;&#x1EC1;&#x1EC3;&#x1EC5;&#x1EC7;&#x1EC9;&#x1ECB;&#x1ECD;&#x1ECF;&#x1ED1;&#x1ED3;&#x1ED5;&#x1ED7;&#x1ED9;&#x1EDB;&#x1EDD;&#x1EDF;&#x1EE1;&#x1EE3;&#x1EE5;&#x1EE7;&#x1EE9;&#x1EEB;&#x1EED;&#x1EEF;&#x1EF1;&#x1EF3;&#x1EF5;&#x1EF7;&#x1EF9;</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Vietnamese</string>
	<key>identifier</key>
	<string>vietnamese</string>
</dict>
</plist>
