<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>-.&#x410;&#x411;&#x412;&#x413;&#x414;&#x415;&#x416;&#x417;&#x418;&#x41A;&#x41B;&#x41C;&#x41D;&#x41E;&#x41F;&#x420;&#x421;&#x422;&#x423;&#x424;&#x425;&#x426;&#x427;&#x428;&#x42D;&#x42E;&#x42F;&#x430;&#x431;&#x432;&#x433;&#x434;&#x435;&#x436;&#x437;&#x438;&#x43A;&#x43B;&#x43C;&#x43D;&#x43E;&#x43F;&#x440;&#x441;&#x442;&#x443;&#x444;&#x445;&#x446;&#x447;&#x448;&#x44D;&#x44E;&#x44F;</string>
	<key>bcp47</key>
	<string>ru-RU</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Russian Abbreviations</string>
	<key>identifier</key>
	<string>russian_abbreviations</string>
</dict>
</plist>
