<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Python</string>
	<key>identifier</key>
	<string>code_python</string>
	<key>kind</key>
	<string>code</string>
</dict>
</plist>
