<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>-NQSTYabcdefghijklmnopqrstuvxyz&#x2BB;&#x2BC;</string>
	<key>bcp47</key>
	<string>uz-UZ</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Uzbek</string>
	<key>identifier</key>
	<string>uzbek</string>
</dict>
</plist>
