<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>.ABCDEFGHIJKLMNOPRSTUVWXYZabcdefghijklmnopqrstuvwxyz&#xC1;&#xE1;&#xE7;&#xE9;&#xED;&#xF1;&#xF3;&#xFA;&#xFC;</string>
	<key>bcp47</key>
	<string>es-ES</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Spanish</string>
	<key>identifier</key>
	<string>spanish</string>
</dict>
</plist>
