<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphabet</key>
	<string>ESabcdefghijklmnopqrstuvwxyz&#xE4;&#xF6;</string>
	<key>bcp47</key>
	<string>fi-FI</string>
	<key>direction</key>
	<string>ltr</string>
	<key>displayName</key>
	<string>Finnish</string>
	<key>identifier</key>
	<string>finnish</string>
</dict>
</plist>
